/* ROOT */

:root {
    --bg-grey: #3A546D ;
    --bg-green: #1BBC9B;
}

/* COMMON */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

[class*="col"] {
    /* Debug */
    border: 1px solid black;
    min-height: 200px;
}

[class*="container"] {
    /* Debug */
    border: 1px solid black;
}

/* HEADER */

header {
    min-height: 100px;
    background-color: var(--bg-grey);
}

/* MAIN */

    /* Hero */

    #hero {
        background-color: var(--bg-green);

        /* Debug */
        min-height: 700px;
    }

    /* About */

    #about {
        background-color: var(--bg-green);
    }


