/* ROOT */

:root {
    --ms_bg-grey: #3A546D ;
    --ms_bg-green: #1BBC9B;
    --ms_bg-dark-grey: #2D3E50;
}

/* COMMON */

img {
    max-width: 100%;
}

.ms_wrapper {
    width: 70%;
    margin: 0 auto;
}

.ms_icon hr {
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
    width: 80px;
    border-radius: 10px;
    opacity:100%;
    margin: 10px;
}

/* HEADER */

.ms_navbar {
    height: 80px;
    background-color: var(--ms_bg-grey);
    color: white;
}

.navbar-light .navbar-toggler {
    filter:invert();
    border: 1px solid;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-left: 1rem;
    background-color: var(--ms_bg-grey);
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: white;
}

/* MAIN */

    /* Hero */

    #hero {
        background-color: var(--ms_bg-green);
        color: white;
        margin-top: 80px;
    }

    #hero img {
        max-width: 300px;
    }

    /* Portfolio */
    #portfolio img {
        border-radius: 10px;
    }

    /* About */

    #about {
        background-color: var(--ms_bg-green);
        color: white;
    }

    .ms_p-about {
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 2rem;
    }

    #about a {
        color: white;
        border: 1px solid white;
    }

    /* Cta  */

    #contact-me button {
        background-color: var(--ms_bg-green);
        color: white;
        align-self: flex-start;
        margin-top: 1rem;
    }

    #contact-me input {
        border-top: none;
        border-left: none;
        border-right: none;
    }

    #contact-me .form-control:focus {
        box-shadow: none;
    }



/* FOOTER */

    .footer-top {
        background-color: var(--ms_bg-grey);
    }

    .footer-bottom {
        background-color: var(--ms_bg-dark-grey);

        /* Debug */
        min-height: 100px;
    }


    .ms_line {
        
        letter-spacing: -3px;
        margin-right: 1rem;
        font-weight: 900;
        border-radius: 10%;

    }

