/* ROOT */

:root {
    --ms_bg-grey: #3A546D ;
    --ms_bg-green: #1BBC9B;
    --ms_bg-dark-grey: #2D3E50;
    --ms_white: white;
}


/* COMMON */

img {
    max-width: 100%;
}

.ms_wrapper {
    width: 70%;
    margin: 0 auto;
}

.ms_icon hr {
    vertical-align: middle;
    display: inline-block;
    border: 1px solid;
    width: 80px;
    border-radius: 10px;
    opacity:100%;
    margin: 10px;
}


/* HEADER */

.ms_navbar {
    height: 80px;
    background-color: var(--ms_bg-grey);
    color: var(--ms_white);
}

.navbar-light .navbar-toggler {
    filter:invert();
    border: 1px solid;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--ms_white);
    padding-left: 1rem;
    background-color: var(--ms_bg-grey);
    opacity: 90%;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: var(--ms_white);
}

/* MAIN */

    /* Hero */

    #hero {
        background-color: var(--ms_bg-green);
        color: var(--ms_white);
        margin-top: 80px;
    }

    #hero img {
        max-width: 300px;
    }

    /* Portfolio */

    #portfolio img {
        border-radius: 10px;
    }

    /* About */

    #about {
        background-color: var(--ms_bg-green);
        color: var(--ms_white);
    }

    .ms_p-about {
        display: flex;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 2rem;
    }

    #about a {
        color: var(--ms_white);
        border: 1px solid var(--ms_white);
    }

    /* Cta  */

    #contact-me button {
        background-color: var(--ms_bg-green);
        color: var(--ms_white);
    }

    #contact-me input {
        margin-bottom: 2rem;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    #contact-me .form-control:focus {
        box-shadow: none;
    }


/* FOOTER */

    .footer-top {
        background-color: var(--ms_bg-grey);
        color: var(--ms_white);
    }

    .ms_footer-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ms_start {
        text-decoration: none;
        color: var(--ms_bg-green);
    }

    .ms_footer-icon {
        height: 40px;
        width: 40px;
        border: 1px solid var(--ms_white);
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        margin: .3rem;
        color: var(--ms_white);
    }

    .footer-bottom {
        background-color: var(--ms_bg-dark-grey);
        height: 80px;
        line-height: 80px;
        color: var(--ms_white);
    }
